@{
    ViewData["Title"] = "Rejestracja";
}
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularz Rejestracji</title>
</head>
<body>
    <h1>Rejestracja</h1>

    <form id="registrationForm">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Zarejestruj</button>
    </form>

    <script>
        document.getElementById("registrationForm").addEventListener("submit", async function (event) {
            event.preventDefault();

            const formData = {
                email: document.getElementById("email").value,
                password: document.getElementById("password").value
            };

            // Wysyłanie danych rejestracji do endpointu /user/
            const registrationResponse = await fetch('/user/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            });

            if (registrationResponse.ok) {
                // Rejestracja powiodła się, wykonaj odpowiednie akcje
                console.log('Rejestracja zakończona sukcesem!');
                window.location.href = '/Home/Login';
            } else {
                // Nie udało się zarejestrować, obsłuż błąd
                console.error('Błąd rejestracji.');
            }
        });
    </script>
</body>
</html>
